.css-1jql8rc-MuiButtonBase-root-MuiButton-root, .css-1jql8rc-MuiButtonBase-root-MuiButton-root:visited{
    text-decoration: none !important;
    width: 318.11px;
    height: 59px;
    display: block;
    background-color: #3B3C2F !important;
    color: #EBE1AB !important;
}

.css-0 a{
    text-decoration: none !important;
    margin-bottom: 30px;
    display: block !important;
}